$rem-base: 14px;
$white: #fff;
$black: #000;
$pcolor: #0eb4e6;
$scolor: #e94138;

$mobile: "(max-width: 767px)";
$tablet-down: "(max-width: 1023px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
